<template>
  <div>
    <b-navbar toggleable="lg" class="white-navbar">
      <b-navbar-brand href="#">StyleLike</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <div class="mx-auto">
          <b-navbar-nav class="links">
            <b-nav-item href="#">campaigns</b-nav-item>
            <b-nav-item href="#">influencers</b-nav-item>
            <b-nav-item href="#">statistics</b-nav-item>
          </b-navbar-nav>
        </div>
        <b-navbar-nav
         class="ml-auto">
          <b-nav-text>
          <i class="fa fa-2x fa-envelope-o" aria-hidden="true">
    <sub class="badge">{{ notifications }}</sub></i>
          <b-avatar class="align-baseline" src="https://www.phaidon.com/resource/nike-logo.jpg" size="1.5rem"></b-avatar>
          </b-nav-text>
          <b-nav-item-dropdown text="My Profile" right>
            <b-dropdown-item href="#">Settings</b-dropdown-item>
            <b-dropdown-item href="#">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { fetchNotifications } from "@/api";

export default {
  name: "Navbar",
    data() {
    return {
      notifications: ""
    };
  },
    beforeMount() {
    fetchNotifications().then(response => {
      this.notifications = response;
    });
  }
};
</script>

<style scoped>
.white-navbar {
  background-color: #fff;
}
.logo {
  color: #1f1f1f;
  font-size: 22px;
}
.links {
  text-transform: uppercase;
  color: #484848;
  font-size: 15px;
}
span {
  font-size: 1.5rem;
}
sub {
  color: #f60051;
  background-color: #fff;
  font-size: 8px;
  border: 1px solid #979797;
  border-radius: 30px;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}
</style>