<template>
  <div>
    <p class="title">Ongoing campaigns</p>
    <b-card no-body class="overflow-hidden campaign-card" v-for="item in campaigns" :key="item.id">
      <b-row no-gutters>
        <b-col cols="1">
          <b-card-img fluid :src="item.image" alt="Image" class="img">
            <i class="on_img fa fa-instagram"></i>
            <i v-if="item.closes < 4" class="on_img fa fa-bell"></i>
          </b-card-img>
        </b-col>
        <b-col cols="4" class="my-3 pl-3">
          <i v-if="item.closes < 4" class="pink_bell fa fa-bell"></i>
          <span class="status">
            <b>Active</b>
          </span>
          <span class="closes">Closes in {{ item.closes }} days</span>
          <p class="influencers">
            <b>{{ item.influencers }} influencers</b>
          </p>
          <p class="campaign_name">{{ item.name }}</p>
        </b-col>
        <b-col cols="7" class="my-auto">
          <b-card-body>
            <b-row>
              <b-col cols="4">
                <p class="numbers">{{ item.reach }}</p>
                <i class="fa fa-instagram"></i>
                <span class="desc">reach</span>
                <div v-if="item.opens.length > 1">
                  <p class="numbers">{{ item.opens }}</p>
                  <i class="fa fa-bell"></i>
                  <span class="desc">opens</span>
                </div>
              </b-col>
              <b-col cols="4">
                <p class="numbers">{{ item.likes }}</p>
                <i class="fa fa-instagram"></i>
                <span class="desc">likes</span>
                <div v-if="item.screens.length > 1">
                  <p class="numbers">{{ item.screens }}</p>
                  <i class="fa fa-bell"></i>
                  <span class="desc">screens</span>
                </div>
              </b-col>
              <b-col cols="4">
                <p class="numbers">{{ item.comments }}</p>
                <i class="fa fa-instagram"></i>
                <span class="desc">comments</span>
                <div v-if="item.completion.length > 1">
                  <p class="numbers">{{ item.completion }}%</p>
                  <i class="fa fa-bell"></i>
                  <span class="desc">completion</span>
                </div>
              </b-col>
            </b-row>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import { fetchCampaigns } from "@/api";
export default {
  name: "Campaigns",
  data() {
    return {
      campaigns: []
    };
  },
  beforeMount() {
    fetchCampaigns().then(response => {
      this.campaigns = response;
    });
  }
};
</script>

<style scoped>
.title {
  font-size: 1rem;
  font-weight: 300;
  color: #484848;
  margin-bottom: 3px;
}
.fa {
  font-size: 0.5rem;
  color: #8d8d8d;
  margin-right: 3px;
}
.on_img {
  color: #f60051;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  z-index: 1;
}
.pink_bell {
  font-size: 0.9rem;
  color: #fff;
  background-color: #f60051;
  padding: 8px;
  border-radius: 30px;
  position: absolute;
  margin-left: -2rem;
}
.img {
  border: none;
  z-index: 0;
  object-fit: cover;
  height: 7.1rem;
}
.campaign-card {
  border: solid 1px #f5f5f5;
  box-shadow: 0px 2px4px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  margin-bottom: 5px;
}
.status {
  text-transform: uppercase;
  font-size: 0.6rem;
  border: 1px solid #d9d9d9;
  padding: 0 5px;
  margin-right: 5px;
}
.closes {
  font-size: 0.6rem;
}
span {
  color: #8d8d8d;
}
p {
  margin: 0;
  padding: 0;
  line-height: 18px;
}
.numbers {
  color: #f60051;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 5px;
}
.influencers {
  color: #f60051;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.campaign_name {
  font-size: 1.1rem;
  color: #484848;
  font-weight: 200;
}
.desc {
  font-weight: 600;
  font-size: 0.5rem;
  text-transform: uppercase;
}
.card-body {
  padding: 0.5rem 0;
}
</style>