<template>
  <div class="container-fluid">
    <div class="flex pt-4">
      <h3>my dashboard</h3>
      <button>create new campaign</button>
    </div>
    <b-row>
      <b-col lg="8" sm="12">
        <Campaigns />
        <b-row>
          <b-col lg="6" sm="12">
            <Statistics />
          </b-col>
          <b-col lg="6" sm="12">
            <TopInfluencers />
            <Tweets />
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4" sm="12">
        <Todo />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Campaigns from "./Campaigns.vue";
import Todo from "./Todo.vue";
import TopInfluencers from "./TopInfluencers.vue";
import Statistics from "./Statistics.vue";
import Tweets from "./Tweets.vue";

export default {
  name: "Dashboard",
  components: {
    Campaigns,
    Todo,
    TopInfluencers,
    Statistics,
    Tweets
  }
};
</script>

<style scoped>
h3 {
  text-transform: uppercase;
  color: #484848;
  font-size: 1.4rem;
}
button {
  text-transform: uppercase;
  background-color: #f60051;
  border-radius: 4px;
  border: 1px solid #e6004c;
  color: #fff;
  margin-left: 4px;
}
.flex {
  display: inline-flex;
}
</style>