<template>
  <div>
    <p class="title">Statistics overview</p>
    <div class="tab_container">
      <tabs>
        <tab title="Weekly">
          <b-row align-v="center" class="border-top">
            <b-col cols="5">
              <label>Choose campaign:</label>
            </b-col>
            <b-col cols="7">
              <b-dropdown
                id="dropdown-1"
                block
                split
                text="All"
                variant="outline-secondary"
                class="m-2"
                slot="button-content"
              ></b-dropdown>
            </b-col>
          </b-row>
          <la-cartesian autoresize :bound="[0]" :data="values">
            <la-line :width="2" color="#f60051" prop="pv"></la-line>
            <la-x-axis prop="name"></la-x-axis>
            <la-y-axis></la-y-axis>
          </la-cartesian>
          <b-row class="text-center mb-2">
            <b-col cols="12">
              <button class="pink_btn_outline">
                <p>{{ statistics.posts }}</p>
                <i class="fa fa-instagram"></i>
                <span>posts</span>
              </button>
              <button class="pink_btn_outline">
                <p>{{ statistics.likes }}</p>
                <i class="fa fa-instagram"></i>
                <span>likes</span>
              </button>
            </b-col>
          </b-row>
          <b-row class="text-center">
            <b-col cols="12">
              <button class="pink_btn_outline">
                <p>{{ statistics.snaps }}</p>
                <i class="fa fa-instagram"></i>
                <span>snaps</span>
              </button>
              <button class="pink_btn_outline">
                <p>{{ statistics.opens }}</p>
                <i class="fa fa-instagram"></i>
                <span>opens</span>
              </button>
            </b-col>
          </b-row>
        </tab>
        <tab title="Monthly"></tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import { Cartesian } from "laue";
import { fetchStatistics, fetchValues } from "@/api";

import Tab from "./Tab.vue";
import Tabs from "./Tabs.vue";

export default {
  name: "Statistics",
  components: {
    Tab,
    Tabs,
    LaCartesian: Cartesian
  },
   data() {
    return {
     statistics: {},
      values: []
    };
  },
    beforeMount() {
    fetchStatistics().then(response => {
      this.statistics = response;
    }),
     fetchValues().then(response => {
      this.values = response;
    });
  },
  activeItem: "home",
  methods: {
    isActive(menuItem) {
      return this.activeItem === menuItem;
    },
    setActive(menuItem) {
      this.activeItem = menuItem;
    }
  }
};
</script>

<style scoped>
.tab_container {
  background-color: #fff;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.pink_btn_outline {
  color: #f60051;
  font-size: 0.62rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  margin-right: 0.5rem;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 3px;
  width: 7.9rem;
}
.pink_btn_outline:hover {
  color: #fff;
  background-color: #f60051;
  border: none;
}
.numbers {
  color: #f60051;
  font-size: 1.1rem;
  font-weight: 500;
}
.pink_btn_outline > i,
.pink_btn_outline > span {
  color: #c6c6c6;
  font-size: 0.5rem;
  padding-right: 2px;
}
label {
  font-size: 0.75rem;
  padding-left: 5px;
}
.title {
  font-size: 1rem;
  font-weight: 300;
  color: #484848;
  margin-bottom: 3px;
}
p {
  font-size: 1.1rem;
  font-weight: 500;
}
</style>