<template>
  <div>
    <p class="title">My todo's ({{ todos.length }})</p>
    <div class="card_container">
      <div class="todo_card" v-for="item in todos" :key="item.id">
        <b-row class="card-header">
          <b-col cols="12">
            <span class="pink_text">{{ item.name }}</span>
            <span>{{ item.action }} {{ item.campaign_name }}</span>
          </b-col>
        </b-row>
        <b-row class="card-body">
          <b-col cols="3">
            <div v-if="item.date.length > 1">
              <b-card-img fluid :src="item.image" alt="Image" class="rounded-0"></b-card-img>
            </div>
            <div v-else>
              <b-card-img :src="item.image" alt="Image" class="rounded_img"></b-card-img>
            </div>
          </b-col>
          <b-col cols="9">
            <div v-if="item.date.length > 1">
              <i class="fa fa-instagram"></i>
              <span class="gray_text">{{ item.date }}</span>
              <br />
              <span>{{ item.content }}</span>
              <span class="hashtags">{{ item.hashtags}}</span>
            </div>
            <div v-else>
              <p>{{ item.name }}</p>
              <b-row>
                <b-col cols="4">
                  <p class="followers_number">34567</p>
                  <span class="followers_text">
                    instagram
                    <br />followers
                  </span>
                </b-col>
                <b-col cols="4">
                  <p class="followers_number">34567</p>
                  <span class="followers_text">
                    instagram
                    <br />followers
                  </span>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
        <b-row class="card-footer">
          <b-col cols="12 text-center">
            <b-button href="#" class="pink_btn_outline">Accept</b-button>
            <b-button href="#" class="pink_btn_outline">Decline</b-button>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import { fetchTodos } from "@/api";
export default {
  name: "Todo",
  data() {
    return {
      todos: []
    };
  },
  beforeMount() {
    fetchTodos().then(response => {
      this.todos = response;
    });
  }
};
</script>

<style scoped>
.rounded_img {
  border-radius: 50%;
}
span {
  color: #484848;
  font-size: 0.75rem;
}
.pink_text {
  color: #f60051;
  padding-right: 3px;
}
.followers_text {
  color: #c6c6c6;
  font-size: 0.55rem;
  text-transform: uppercase;
}
.followers_number {
  color: #f60051;
  font-size: 0.87rem;
  text-transform: uppercase;
  font-weight: bold;
}
.gray_text {
  color: #c6c6c6;
  font-size: 0.75rem;
}
i {
  color: #c6c6c6;
  font-size: 0.75rem;
  padding-right: 3px;
}
.card_container {
  background-color: #d8d8d8;
  padding: 1rem;
  height: 50rem;
  overflow-y: scroll;
}
.todo_card {
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  line-height: 15px;
}
.selfie {
  background-image: url("../assets/selfi.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.card-header {
  background-color: #f4f4f4;
}
.card-body, .card-footer {
  background-color: #fff;
}
.hashtags {
  padding-left: 3px;
  color: #c6c6c6;
}
.pink_btn_outline {
  color: #f60051;
  font-size: 0.62rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  margin-right: 0.5rem;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  text-transform: uppercase;
}
</style>