<template>
  <div>
    <p class="title">Top influencers</p>
    <div class="list" v-for="item in top_influencers" :key="item.id">
      <b-row align-v="center">
        <b-col cols="2">
           <img fluid :src="item.image" alt="Image" class="circle" />
        </b-col>
        <b-col cols="5">
          <span class="influencer_name">{{ item.name }}</span><br />
          <span class="rate">Engagement rate: {{ item.percentage }} %</span>
        </b-col>
        <b-col cols="3">
          <b-button href="#" class="pink_btn_outline">Add to favourites</b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { fetchTopInfluencers } from '@/api'
export default {
  name: "TopInfluencers",
  data() {
    return {
      top_influencers: []
    }
  },
    beforeMount() {
    fetchTopInfluencers().then(response => {
      this.top_influencers = response
    })
  }
};
</script>

<style scoped>
.circle {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
}
.list {
  background-color: #fff;
  margin-bottom: 2px;
  padding: 0.3rem;
}
.influencer_name {
  color: #484848;
  font-size: 0.75rem;
}
.rate {
  color: #8d8d8d;
  font-size: 0.62rem;
}
.pink_btn_outline {
  color: #f60051;
  font-size: 0.62rem;
  font-weight: 500;
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  text-transform: uppercase;
}
.pink_btn_outline:hover {
  color: #fff;
  background-color: #f60051;
  border: none;
}
</style>