<template>
  <div class="tweets">
    <p class="title">Tweets</p>
    <div class="list" v-for="item in tweets.statuses" :key="item.id">
      <b-row align-v="center">
        <b-col cols="6">
          <span class="name">{{ item.user.name }}</span>
        </b-col>
        <b-col cols="6">
            <span class="date">{{ item.created_at }}</span>
        </b-col>
     <b-col cols="12" class="pt-2">
      <p>{{ item.text }}</p>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Tweets",
  data() {
    return {
      tweets: {}
    };
  },
  beforeMount() {
    axios
      .get("http://localhost:5000/tweets")
      .then(response => {
        this.tweets = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>
<style scoped>
.tweets {
  height: 400px;
  overflow-y: scroll;
}
p {
  font-size: 0.75rem;
}
.list {
  background-color: #fff;
  margin-bottom: 3px;
  padding: 0.3rem;
}
.name {
  color: #f60051;
  font-size: 0.75rem;
}
.date {
  color: #8d8d8d;
  font-size: 0.62rem;
}
</style>