<template>
  <div id="app">
    <Navbar />
    <Dashboard />
  </div>
</template>

<script>
import Navbar from './components/layout/Navbar.vue'
import Dashboard from './components/Dashboard.vue'

export default {
  name: 'App',
  components: {
    Navbar,
    Dashboard
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
#app {
  font-family: 'Lato', sans-serif;
  background-color: #EAE9EB;
}
.title {
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  margin-bottom: 3px;
}

</style>
